footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.techUsed{
    display: flex;
    width: auto;
    font-family: "Poppins", sans-serif; 
}

.techUsed img {
    margin-inline: 5px;
}